

body{

    margin: 0px;
    padding: 0px;
    font-family:tahoma;


}

.head-section{


        width: 995px;
        background-image: url(images/top-banner.png);
        background-position: 0 0;
        background-repeat: no-repeat;
        display: flex;
        margin: 0px;
        padding: 0px;
}

.left-content{

    
    width: 50%;
    margin: 10px;
    padding: 10px;
    text-align: center;



}

.left-content h1:nth-child(1){


    font-size: 45px;
    margin-top: 10px;
       


}

.left-content h1:nth-child(2){

    font-size: 45px;
   
    


}
.left-content span{

    color: orange;

}

.left-content h3{

    font-size: 25px;


}

.left-content p{

    font-size: 20px;
    text-align:left;
    margin: 5px;
    padding: 5px;
    line-height: 25px;
    margin-left: 20px;


}

.left-content a{

    text-decoration: none;
    display:inline-block;
    font-size: 20px;
    font-weight: bold;
    background:orange;
    padding: 10px 20px;
    float: left;
    border-radius: 8px;
    margin: 10px;
    margin-left: 20px;
    color: white;



}


.right-content{

    width: 50%;
    margin: 10px;
    padding: 40px;
    margin-left: 40px;
    overflow: hidden;



}

.right-content img{

    width: 100%;
    margin: auto;
    height: auto;


}

.middle-content{

    width: 100%;
    border: 1px solid black;
    display:flex;
    margin: 0px;
    padding: 0px;
    margin-top: 50px;
    text-align: center;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;

}
.middle-left{


    width: 50%;
    margin: 10px;
    padding: 10px;
    
    


}
.middle-left img{

    width: 100%;
    padding: 20px;


}
.middle-right{
    width: 50%;
    text-align:left;
    padding-left: 60px;
    margin-top: 10px;
    background-image: url(images/);


}

.middle-right h2{

font-size: 40px;


}

.middle-right h3{

    font-size: 25px;


}
.middle-right p{


        font-size: 20px;
        line-height: 30px;


}
.middle-right a{

    font-size: 20px;
    font-weight: bold;
    background: orange;
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none;
    color: white;


}

